# Core Flask
Flask
Flask-CORS
Werkzeug

# Database
psycopg2-binary
SQLAchemy

# ML & Data Science
scikit-learn
xgboost
pandas
numpy
joblib

# API & HTTP
requests

# Enviroment
python-dotenv

# Production Server
gunicorn